<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="main-container">
      <h1 class='text-xs-center text-lg-center'>youBREW</h1>
      <div class ='col-lg-2'>
        <h2>All Your Beers:</h2>
        <a href="/beers" title="All Beers" class='d-block'>All Beers</a>
        <a href="/beers/liked" title="Liked Beers" class='d-block'>Liked Beers</a>
        <a href="/beers/disliked" title="Disliked Beers" class='d-block'>Disliked Beers</a>
      </div>

      <div class="col-lg-5">
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
      </div>
      <div class="col-lg-5">
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
        <img src="img/255x255.png" class='img-fluid rounded mx-auto d-block'>
        <p class='text-xs-center text-lg-center'>BEER INFO GO HERE</p>
      </div>
  </div>
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</html>
