<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="main-container">
    <h1 class='text-xs-center text-lg-center'>youBREW</h1>
    <h2>Beer Info:</h2>
    <div class='row'>
      <h1 id='output' class='text-xs-center text-lg-center'></h1>
      <img id='beer_img' class='img-fluid rounded mx-auto d-block'/>
      <p id='description' class='text-xs-center text-lg-center'></p>
      <p id='abv' class='text-xs-center text-lg-center'></p>
      <p id='ibu' class='text-xs-center text-lg-center'></p>
    </div>
  </div>
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</html>
