<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="main-container">
    <div class="border-container">
      <h1>youBREW</h1>
      <h2>Beer Info:</h2>
      <div class="col-lg-6 center-block">
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</html>
