<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="main-container">
      <div class="border-container">
        <h1>youBREW</h1>
        <h2>Beer Look Up Test:</h2>
        <div class="col-lg-6 center-block">
          <div class="well bs-component">
            <form class="form-horizontal" >
              <fieldset>
                <legend>Search for a beer:</legend>
                <div class="form-group">
                  <div class="col-lg-10">
                    <input id="beer_entered" name="beer_name" type="text" class="form-control" placeholder="Beer Name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button id="submit_button" type="submit" class="btn btn-primary">Search</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <h1 id='output'></h1>
      <img id='beer_img' src="" alt="">
    </div>

</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
</html>
