body {
  background: url('../img/beer-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.main-container {
  width: 980px;
  margin: 0 auto;
}

/*
.center-block { float: none } */

#radio_pad {
  width: 18%;
}

.shadow_box {
  background: rgba(0, 0, 0, .5);
  color: white;
  border-radius: 15px;
}
